{
    margim:0;
    padding:0;
    font-family:san-serif;
}
.page{
    width:100%;
    height:100vh;
    background-image:url(cover1.jpg);
    background-size:cover;
    background-position:center;
    position:relative;
    overflow:hiden
}
.logo{
    width:80px;
    cursor:pointer;
}
.navbar{
    width:85%;
    height:15%;
    margin:auto;
    display:flex;
   align-items:center;
   justify-content:space-between;
}
button{
    color:#eb0ca8fd;
    padding:10px 25px;
    background:#eb0ca8fd;
   border:1px solid rgb(14, 11, 12);
  border-radius:30px;
  outline:none;
  cursor:pointer;
 color:white ;
  }
  .text{
    color:#f8f4f4;
    font-size:30px;
    margin:20px 0 30px;
    line-height:80px;
     }
     .left-bar{
        background:rgb(207, 115, 129);
        text-align:center;
    position: right;
        }
        .left-bar ul{
            display:inline-flex;
            color:#fff;
            text-size-adjust:20 ;
            }
            .left-bar ul li{
              width:100px;
              margin:15px;
              padding:10px;
            top:0;
            }
            .left-bar ul li a{
              text-decoration:none;
              color:rgb(243, 235, 235);
            }
           .actives,.left-bar ul li:hover{
           background:rgb(187, 115, 64);
           border-radius:7px;
           
           transition:.5s;
           }
            .left-bar ul li .fa{
            margin-right: 8px;
            }
            .About-me{
                display:none;
              }
               .left-bar ul li:hover .About-me
                {
             display:block;
             position:absolute;
             background:violet;
             margin-top:15px;
             margin-left:-15px;
                }
            .left-bar ul li:hover .About-me ul
            {
                display:block;
                margin:10px;
            }
            .left-bar ul li:hover .About-me ul li
            {
                width:150px;
                padding:10px;
                border-bottom:1px dotted #fff;
                background:transparent;
                border-radius:0;
                text-align:left;
            }
        .social-links img{
            width:25px;
            margin:5px auto;
            cursor:pointer;
        }
           .social-links{
                width:50px;
                text-align:center;
                position:absolute;
                top:50%;
            }
            .bubble img{
                width:50px;
                animation:bubble 7s linear infinite;
            }
        .bubble{
            width:100%;
            display:flex;
            align-items:center;
            justify-content:space-around;
            position:absolute;
            bottom:-70px;
        }
        @keyframes bubble{
            0%{
                transform: translatey(0);
                opacity: 0;
            }
                    30%{
                        opacity: 1;
                    }
                    
                       50%{

                            opacity: 1;
                       }
                            70%{
                                opacity: 2;
                            }
                              100%{
                                    transform: translatey(-80vh);
                                    opacity: 0;
                                }
        }
        .bubble img:nth-child(1){
            animation-delay:1s;
            width:25px;
        }.bubble img:nth-child(2){
            animation-delay:3s;
            width:35px;
        }
        .bubble img:nth-child(3){
            animation-delay:4.5s;
            width:45px;
        }
        .bubble img:nth-child(4){
            animation-delay:7s;
            width:50px;
        }.bubble img:nth-child(5){
            animation-delay:9s;
            width:55px;
        }.bubble img:nth-child(6){
            animation-delay:10s;
            width:60px;
        }
  